@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}
html::-webkit-scrollbar {
  display: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-text {
  font-family: "Merienda", cursive;
}
